.feature__item {
  display: flex;
  padding: 5px 10px;
  overflow: hidden;
  /* min-width: 200px; */
  justify-content: flex-start;
  border: 2px solid rgb(156, 95, 84);
  border-radius: 5px;
  text-decoration: none;
  color: brown;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 5px;
}
